//this is made to space the nav links exapt the last link
.navbar-nav .nav-item:not(:last-child){
    margin-right: 2.5rem;
}

.form-control{
    border-radius: 50px;
    border: 1px solid rgb(182, 182, 182);
}

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before{
        content: '';
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, .25);
        position: absolute;
        z-index: 2;
    } 
    .hero-content{
        position: relative;
        z-index: 5;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 2rem;
        h1{
            color: white;
            font-size: 5.6rem;
            &::after{
                content: '';
                position: relative;
                z-index: -1;
                top: -9rem;
                display: block;
                width: 23rem;
                height: 1.5rem;
                background-color: $primary_theme_color; 
            }
        }
    
        p{
            color: white;
            margin-top: -2.5rem;
            font-weight: lighter;
            letter-spacing: 1px;
            font-size: 1.3rem;
        }
    }
    
    
    .hero-form{
        padding: .7rem 1rem ;
        background: white;
        border-radius: 15px;
        margin-top: 2.5rem;
        box-shadow: 0px 4px 4px rgba(138, 137, 137, .4);
        input{
           margin-bottom: 1rem;
        }
    
        label{
            color: black;
            display: block;
        }
    }
}

.black-style > span{   
    background: black;
    color: white;
    padding: 0 6px;
}

.home-section{
    width: 100%;
    height: 100vh;
    position: relative;

    .part-1{
        margin-left: 6.5rem;
        margin-top: 5rem;
    }

    .part-1 > p.black-style{
        font-size: 2.2rem;
    }

    p.para-2{
        margin-top: 5rem;
    }

    &::before{
        content: '';
        position: absolute;
        z-index: -2;
        display: block;
        height: 100%;
        width: 36%;
        background: $secondary_theme_color;
    }

    img{
        height: 50%;
    }    
}

footer{
    width: 100%;
    height: 100vh;
    background: $primary_theme_color;
    justify-content: center;
    color: white;
    position: relative;

    .footer-logo{
        width: 70%;
    }

    & > div{
        margin-top: 5rem;
    }

    /*&::before{
        content: '';
        background-image: url(../img/kids.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 50%;
        bottom: 50%;
        position: absolute;
    }*/

    ul{
        list-style: none;
    }

    textarea.form-control{
        border-radius: 10px;
    }

    .social-media > li{
        margin-right: 2rem;
    }
    .social-media-part{
        margin-top: 9.5rem;
    }

    h1{
        margin-bottom: 2rem;
    }
}