//this is made to space the nav links exapt the last link
.navbar-nav .nav-item:not(:last-child){
    margin-right: 2.5rem;
}

@each $i, $color in $logo-colors {

    @if $i == 1{
        .path-#{$i}{
            fill: #0f0;
        }
    }
    @if $i != 7 {
        .path-#{$i+1}{
            fill: $color;
        }
    }
    .navbar-brand:hover .path-#{$i}{
        fill: $color;
    }
}

.form-control{
    border-radius: 50px;
    border: 1px solid rgb(182, 182, 182);
}

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before{
        content: '';
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, .25);
        position: absolute;
        z-index: 2;
    } 
    .hero-content{
        position: relative;
        z-index: 5;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 2rem;
        h1{
            color: white;
            font-size: 5.6rem;
            &::after{
                content: '';
                position: relative;
                z-index: -1;
                top: -9rem;
                display: block;
                width: 23rem;
                height: 1.5rem;
                background-color: $primary_theme_color; 
            }
        }
    
        p{
            color: white;
            margin-top: -2.5rem;
            font-weight: lighter;
            letter-spacing: 1px;
            font-size: 1.3rem;
        }
    }
    
    
    .hero-form{
        padding: .7rem 1rem ;
        background: white;
        border-radius: 15px;
        margin-top: 2.5rem;
        box-shadow: 0px 4px 4px rgba(138, 137, 137, .4);
        input{
           margin-bottom: 1rem;
        }
    
        label{
            color: black;
            display: block;
        }
    }
}

.black-style > span{   
    background: black;
    color: white;
    padding: 0 6px;
}

.home-section{
    width: 100%;
    height: 100vh;
    position: relative;

    .part-1{
        margin-left: 6.5rem;
        padding-top: 5rem;
    }

    .part-1 > p.black-style{
        font-size: 2.2rem;
        @media only screen and (max-width: 768px) {
            font-size: 2rem;
        }
    }

    p.para-2{
        margin-top: 5rem;
        
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        z-index: -2;
        display: block;
        height: 100%;
        width: 36%;
        background: $secondary_theme_color;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .img-cubes{
        position: absolute;
        right: 5%;
        bottom: 5%;
        height: 50%;
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }    
}

footer{
    background: $primary_theme_color;
    justify-content: center;
    color: white;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    .footer-logo{
        width: 70%;
        @media only screen and (max-width: 768px) {
            width: 70%;
        }
    }

    .part-1{
        margin-right: 2rem;
        margin-left: 4rem;
        width: 50%;
        @media only screen and (max-width: 768px) {
            width: 80%;
            margin: auto;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
    }

    .part-2{
        margin-right: 4rem;
        margin-left: 2rem;
       width: 50%;
       @media only screen and (max-width: 768px) {
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
    }
    }

    & > div{
        margin-top: 5rem;
        margin-bottom: 3rem;
        @media only screen and (max-width: 768px) {
            margin-top: 1rem;
        }
    }

    /*&::before{
        content: '';
        background-image: url(../img/kids.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 50%;
        bottom: 50%;
        position: absolute;
    }*/

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 768px) {
            width: 60%;
        }
    }

    textarea.form-control{
        border-radius: 10px;
    }

    .social-media > li{
        margin-right: 2rem;
    }

    svg:hover > .svg-fill {
        fill: $secondary_theme_color;
    }
    .social-media-part{
        margin-top: 9.5rem;
        @media only screen and (max-width: 768px) {
            margin-top: 0rem;
        }
    }

    h1{
        margin-bottom: 2rem;
        @media only screen and (max-width: 768px) {
            font-size: 1.7rem;
            margin-bottom: 1.5rem;
        }
    }

    .btn-secondary:hover{
        background-color: transparent;
        color: white;
        border-color: white;
        box-shadow: none;
    }
}

@media only screen and (max-width: 768px) {
    :root{
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    :root{
        font-size: 9px;
    }
}