@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

$primary_theme_color: #61B6E5;
$secondary_theme_color: #FF6780;
$font-family-base: 'Roboto', sans-serif;
$navbar-padding-y: .85rem;
$body-bg: #FCFCFC;
$logo-colors: (1: #61b6e5, 2: #61b6e5, 3: #a95094, 4: #ff6780, 5: #ff7900, 6:#ff0, 7:#0f0);