// Custom.scss
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

$primary_theme_color: #61B6E5;
$secondary_theme_color: #FF6780;
$font-family-base: 'Roboto', sans-serif;
$navbar-padding-y: .85rem;
$body-bg: #FCFCFC;

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/grid";


@import "custom";